$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$concrete: #F2F2F2;
$meteor: #DC5F13;
$silver-chalice: #ACACAC;
$alto: #DDDDDD;
$hippie-blue: #5A84AE; /*blue*/
$east-bay: #3B5A78; /*darkblue*/
$west-side: #FD8917;
$flamingo: #F36444; /*main brand*/
$alabaster: #F8F8F8;
$scorpion: #6A6163;
$tundora: #444444;

$tooltip-arrow-color: $flamingo;
$tooltip-bg: $flamingo;
$tooltip-arrow-width: 10px;

$input-color-placeholder: $silver-chalice;

$font-family-serif: "Times New Roman", sans-serif;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* Custom Real Page Fonts */

@import 'fonts';
@import 'imgdata';

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 15px; // baseline
  font-color: $concrete;
}
a, a:link {
  color: $hippie-blue;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 0.5em;
  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  .company-header {
    width: 160px;
    height: 32px;
    position: relative;
  }
  .company-header__logo {
    background-image: url($company-header-image);
    background-repeat: no-repeat;
    background-size: contain; 
    width: 100%;
    height: 100%;
    

  }
}
/* Site NAVIGATION                          */
/*------------------------------------------*/
.nav__menu {
  @extend .dropdown;
}
.nav__menu__button {
  @extend .btn;
  @extend .btn-default;
  @extend .dropdown_toggle;
  min-width: 120px;
  text-align: left;
  font-size: 0.9em;
  padding: 8px 12px;
  border-color: $alto;
  color: $silver-chalice;
  
}
.nav__menu__button .caret {
  position: absolute;
  right: 10%;
  bottom: 45%
}
.nav__menu__button:hover,
.nav__menu__button:focus {
  border: 1px solid white;
  background: transparent;
  outline: 0;
}
.nav__menu__list {
  @extend .dropdown-menu;
  font-size: 0.9em;
  padding: 0;
  float: right;
  left: initial;
  right: 0;
  top:-2px;
  max-width: 120px;
  min-width: auto;
  border-color: $alto;
  box-shadow: none;
}
.nav__menu__list > li > a {
   padding: 8px 12px;
   color: $silver-chalice;
}
.nav__menu__list > li > a:hover {
  background-color: $alabaster;
  color: $hippie-blue;
}
/* Custom page footer */
.footer {
  margin-top: 0.5em;
  color: $silver-chalice;
  font-size: 0.75em;
  text-align: center;
}

.container-narrow > hr {
  margin: 30px 0;
}
.signin__container {
  @extend .jumbotron;
  background-image: url($signin_bg_image);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-color: $concrete;
  margin-bottom: 0;
  border: 1px solid $silver-chalice;
  margin: 0 auto;
  overflow: hidden;
} 

/* Sign In ONESITE                          */
/*------------------------------------------*/

.signin__onesite {
  margin-right: 1em;
}
.signin__onesite h3 {
  margin: 0.5em 0 1em 0;
}
.signin__onesite__email, 
.signin__onesite__password {
  margin-bottom: 1em;
  border-color: $alto;
}
.signin__onesite__forgotpass {
  font-size: 0.9em;
  line-height: 2.5em;
  height: 2.5em;
}
.signin__onesite__forgotpass:hover {
  color: $flamingo;
  text-decoration: none;
}
.signin__onesite__submit {
  @extend .btn;
  @extend .btn-default;
  color: $hippie-blue;
  font-size: 1.1em;
}
.signin__onesite__submit:not([disabled]):hover {
  background-color: $east-bay;
  color: white;
}

/* Error styling */
.has-error .form-control-feedback {
  color: $flamingo;
}
.has-error .form-control,
.has-error .form-control:focus {
  border-color: $alto;
  box-shadow: none;
}
.signin__onesite__tooltip {
  @extend .tooltip;
  left: 5px !important; /* Override inline styles generated by bootstrap.js */
}
.signin__onesite__tooltip .tooltip-arrow {
}
.signin__onesite__tooltip .tooltip-inner {
  border-radius: 0;
  padding: 1em;
}

/* Sign In SSO                              */
/*------------------------------------------*/
.signin__sso {
  margin-left: 1em;
}
.signin__sso h3 {
  margin: 0.5em 0 1em 0;
}
.signin__sso__connect {
  @extend .btn;
  @extend .btn-block;
  @extend .btn-primary;
  background-color: $hippie-blue;
}
.signin__sso__connect:hover {
  background-color: $east-bay;
}
.signin__sso p {
  font-size: 0.8em;
  line-height: 1.6em;
  margin: 1em 0;
}
.signin__sso a:hover {
  color: $flamingo;
  text-decoration: none;
}
/* Separator */
.with-separator {
  width: 100%;
  height: 200px;
  display: block;
  position: relative;
}
.separated {
  height: 100%;
  display: block;
  overflow: hidden;
}
.separated:before {
  content: '';
  border-left: 1px solid $scorpion;
  border-right: 1px solid $scorpion;
  margin-left: 50%;
  height: auto;
  width: 0;
  position: absolute;
  top: 0;
  bottom: 50%;
}
.separated:after {
  content: '';
  border-left: 1px solid $scorpion;
  border-right: 1px solid $scorpion;
  margin-left: 50%;
  height: auto;
  width: 0;
  position: absolute;
  bottom: 0;
  top: 50%;
}
.separated span {
  padding: 0.8em 0; 
  margin: 0;
  font-style: italic;
  font-size: 1.1em;
  text-align: center;
  top: 43%;
  width: 100%;
  position: absolute;
  background: $concrete;
  z-index: 11;
}

/* Pullout Message                          */
/*------------------------------------------*/
.pullout {
  background: white;
  border-radius: 5px;
  border: 1px solid $tundora;
  color: $tundora;
  padding: 1em;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.5);
  position: relative;
  transition: ease 0.5s;
}
.pullout.opened {
  left: 70%;
}
.pullout.closed {
  left: 100%;
  margin-left: 60px;
}
.pullout__title {
  font: bold 1.4em $font-family-serif;
  font-style: italic;
  margin: 0 0 0.2em 0;
}
.pullout__message {
  font-size: 0.8em;
  margin: 0.5em 0;
}
.pullout__button-reveal {
  @extend .btn; 
  @extend .btn-default; 
  @extend .btn-xs;
  font-size: 0.8em;
  padding: 0.2em 1.5em;
  border-color: $hippie-blue;
  color: $hippie-blue;
  border-radius: 6px;
}
.pullout__button-arrow {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  position: absolute;
  right: 100%;
  top: 10px;
  background: white;
  padding: 1px 5px;
  font-size: 1.8em;
  border: 1px solid #444;
  border-right-color: transparent;
}
.pullout__button-arrow:focus {
  outline: 0;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 0.5em;
  }
}
